/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--title-color);
  margin-top: 20px;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

.nav__list .loginpopup{
  width: 100px;
  height: 40px;
  position: relative;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-family: var(--second-font);
  font-weight: var(--font-medium);
  margin-top: -5px;
  transition: .5s;
}

.nav__list .loginpopup:hover{
  background:#fff;
  color: #162938;
}

.nav__toggle,
.nav__close{
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    transition: top .4s;
  }
}

.nav__list{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 2.5rem;
}


.nav__link{
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__link::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;
}

.nav__link:hover::after{
  width: 70%;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;  
}

/* Show menu */
.show-menu{
  top: 0;
}

/* Add blur to header */
.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link::after{
  width: 70%;

}

/*=============== HOME ===============*/
.home{
  position: relative;
  height: 720px;
}

.home__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.home__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 58%,
              hsl(0, 0%, 0%) 78%);
}

.home__container{
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
}

.home__data{
  text-align: center;
}
.home__subtitle{
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.home__title{
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2rem;
  color: var(--title-color);
}

/*=============== BUTTON ===============*/
.button{
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari*/
}

.button i{
  font-size: 1.25rem;
  transition: transform .4s;
  font-weight: initial;
}

.button:hover i{
  transform: translateX(.25rem);
}
/*=============== UPLOAD ===============*/

.upload_main{
  width: 100%;
  background: url(/img/upload_bg.jpg) no-repeat center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.upload__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 58%,
              hsl(0, 0%, 0%) 78%);
}

.upload__container{
  row-gap: 3rem;
}

.upload__data{
  text-align: center;
}

/* .upload__description{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
} */

.drag__area{
  display: flex;
  border: 5px dashed #b9b3b394;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag__area.active{
  border: 5px solid #b9b3b394;
}

.drag__area .icon{
  justify-content: center;
  font-size: 150px;
  color:  #b9b3b394;
}

.drag__area header{
  justify-content: center;
  font: var(--h1-font-size);
  font-weight: 500;
  color:  #b9b3b394;
}

.drag__area span{
  justify-content: center;
  font: var(--h1-font-size);
  font-weight: 500;
  color:  #b9b3b394;
  margin: 10px 0 15px 0;
}

.drag__area button{
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari*/
  margin-bottom: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.drag__area .file__inputright{
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari*/
  margin-bottom: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.drag__area .file__inputleft::file-selector-button {
  background-color: hsla(0, 0%, 100%, .2);
  padding: 1.25rem 1.5rem;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari*/
  margin-bottom: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

section .row{
  background-color: hsla(0, 0%, 100%, .2);
  padding: 15px 20px;
  color: var(--title-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: .5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2rem;
  border-radius: 10px;
  list-style: none;
  justify-content: space-between;

}

section .row i{
  font-size: 30px;
}

section .details span{
  font-size: 14px;
  margin: 20px;
  color: #f8e9e9;
}

.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}

.progress-area .details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-area .progress-bar{
  height: 6px;
  width: 100%;
  background: #b8b8b871;
  margin-bottom: 4px;
  border-radius: 30px;
}

.progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #f8e9e9;
  border-radius: inherit;
}

.uploaded-area{
  max-height: 150px;
  overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar{
  width: 0px;
}

.uploaded-area .row .content{
  display: flex;
  align-items: center;
}

.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
}

.uploaded-area .details .size{
  font-size: 11px;
  margin-left: 15px;
  color: #f8e9e9;
}

.uploaded-area .details .ri-file-line{
  font-size: 28px;
  display: flex;
  color: #f8e9e9;
  align-items: center;
  justify-content: center;
}

.uploaded-area .ri-check-fill{
  font-size: 16x;
  color: #f8e9e9;
}


/* .drag__area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}  */

/*=============== Login ===============*/
.login_section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/img/login_bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_wrapper{
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1);
  transition: transform .5s, ease height .2s ease;
}

.login_wrapper.active{
  height: 520px;
}

.login_wrapper.active-popup{
  transform: scale(1);
}

.login_wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.login_wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.login_wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.login_wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(0);
}

.login_wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.login_wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #ffffffc7;
  font-size: 2em;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  transition: .5s;
  visibility: hidden;
}

.login_wrapper .form-box.register{
  position: absolute;
  transform: translateX(0);

}

.login_wrapper .icon-close:hover{
  background: #ffffff;
  color: #111;
}

.login_wrapper.active{
  height: 520px;
}

.form-box h2{
  color: #ffffffc7;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ffffffc7;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 70%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #ffffffc7;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #ffffffc7;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: 0px;
  color: #ffffff;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: #ffffffc7;
  line-height: 70px;
}

.remember-forget{
  font-size: .9em;
  color: #ffffffc7;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input{
  accent-color: #ffffffc7;
  margin-right: 3px;
}

.remember-forget a{
  color: #ffffff;
  text-decoration: none;
}

.remember-forget a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: #ffffffc7;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #111;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.signbtn{
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: #ffffffc7;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #111;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  background: #ffffff;
  color: #111;
}

.login-register{
  font-size: .9em;
  color: #ffffffc7;
  text-align: center;
  font-weight: 500;
  margin: 20px 0 10px;
}

.login-register p a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}

.success{
	background-color: #b4ffb494;
	opacity: 0.7;
	padding: 20px 40px;
	min-width: 100px;
	position: absolute;
	right: 0px;
	top: 150px;
	overflow: hidden;
	border-radius: 4px;
	border-left: 10px solid #29b329;
}

.success.showAlert{
	opacity: 1;
	pointer-events: auto;
}

.success.show{
	animation: show_slide 3s ease forwards;
}

@keyframes show_slide{
	0%{
		transform: translateX(100%);
	}
	40%{
		transform: translateX(-10%);
	}
	80%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-10px);
	}
}

.success.hide{
	animation: hide_slide 3s ease forwards;
}

@keyframes hide_slide{
	0%{
		transform: translateX(-10px);
	}
	40%{
		transform: translateX(0%);
	}
	80%{
		transform: translateX(-10%);
	}
	100%{
		transform: translateX(100%);
	}
}

.success .checkicon{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	color:#b0ffb0;
	font-size: 30px;
}

.success .alter.alter-success{
	padding: 0 10px;
	font-size: 18px;
	color: #b0ffb0;
}

.success .close_btn{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(0, 157, 0);
	padding: 20px 7px;
	cursor: pointer;
}

.close_btn:hover{
	background: seagreen;
}

.close_btn .closeicon{
	color: #b0ffb0;
	font-size: 25px;
	line-height: 40px;
}
/*=============== DOCUMENT ===============*/
.imgstyle{
  padding: 0px;
  width:700px;
  height: 560px; 
  overflow:hidden;
  margin: auto;
}
.imgs{
  float: left;
  padding: 0px;
}
.fileContent {
  overflow: auto;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: justify;
  margin-bottom: 0.5em;
}
.filetextarea {
	width: 700px;
    height: 350px;
    padding: 10px;
    background-color: gray;
    color: white;  
    overflow-y:auto  
}
.containtext{
	display: flex;
    justify-content: center;
    align-items: center;
}
/*=============== EXPLORE ===============*/


/*=============== JOIN ===============*/
.join__container{
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.join__data{
  text-align: center;
}

.join_description{
  margin-bottom: 2rem;
}

.join__form{
  display: grid;
  row-gap: 1rem;
}

.join__input{
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
}

.join__button{
  cursor: pointer;
}

.join__image{
  position: relative;
  justify-self: center;
  overflow: hidden;
}

 .join__img{
  width: 500px;
  transition: transform .4s;
}

.join__shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 50%,
              hsl(0, 0%, 0%) 1250%);
} 

.join__image:hover .join__img{
  transform: scale(1.2);
}

/*=============== FOOTER ===============*/
.footer{
  padding-block: 2.5rem;
  background-color: var(--container-color);
}

.footer__content{
  row-gap: 3.5rem;
}

.footer__logo{
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__data{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3,5rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links{
  display: grid;
  row-gap: .75rem;
}

.footer__link{
  color: var(--text-color);
  transition: color .4s;
}

.footer__link:hover{
  color: var(--title-color);
}

.footer__group,
.footer__social{
  display: flex;
}

.footer__group{
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer__social{
  column-gap: 1.5rem;
}

.footer__social-link{
  color: var(--text-color);
  font-size: 1.2rem;
  transition: color .4s, tansform .4s;
}

.footer__social-link:hover{
  color: var(--title-color);
  transform: translateY(-.25rem);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 30%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 100%, .1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For Safari*/
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover{
  transform: translateY(-.25rem);
}
/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
  .container{
    margin-inline: 1rem;
  }

  .footer__data{
    grid-template-columns: max-content;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .home__container,
  .upload__container,
  .join__container{
    grid-template-columns: 380px;
    justify-content: center;
  }

  .footer__data{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 768px){
  .home__cards{
    grid-template-columns: repeat(2, 240px);
  }

  .join__container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }

  .join__data,
  .join__data .section__title{
    text-align: initial;
  }

  .join__image{
    order: -1;
  } 

  .footer__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .footer__group{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__copy{
    order: -1;
  }
}

/* For large devices */
@media screen and (min-width: 1023px){
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .footer__data{
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width: 1152px){
  .container{
    margin-inline: auto;
  }

  .section{
    padding-block: 7rem 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .blur-header::after{
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /* For safari*/
  }

  .home__container,
  .upload__container{
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
  }
  .home__showdow{
    height: 980px;
  }
  .home__data,
  .upload_data{
    text-align: initial;
    width: 480px;
  }
  .home__subtitle,
  .upload__title{
    font-size: var(--h2-font-size);
  }
  .home__description{
    margin-bottom: 2.5rem;
  }
  .home__cards{
    grid-template-columns: repeat(4, 260px);
  }
  .button{
    column-gap: 1.5rem;
  }
  
  .join__container{
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }
  .join__img{
    width: 460px;
  }
  .join__description{
    margin-bottom: 3rem;
  }

  .footer{
    padding-block: 5rem 3rem;
  }
  .footer__title{
    margin-bottom: 1.5rem;
  }
  .footer__group{
    margin-top: 7rem;
  }
  .footer__social{
    column-gap: 2rem;
  }
  .footer__social-link{
    font-size: 1.5rem;
  }

  .scrollup{
    right: 3rem;
  }
}