<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--=============== FAVICON ===============-->
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

	<!--=============== REMIXICONS ===============-->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

	<!--=============== CSS ===============-->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>PresentPal| Make Speech Easier</title>
</head>

<body>
	<!--==================== HEADER ====================-->
	<header class="header" id="header">
		<nav class="nav container">
			<a href="/" class="nav__logo"> PresentPal </a>

			<div class="nav__menu" id="nav-menu">
				<ul class="nav__list">
					<li class="nav__item"><a href="#home" class="nav__link">Home</a></li>

					<li class="nav__item"><a href="/uploadPage" class="nav__link">Upload</a>
					</li>

					<li class="nav__item"><a href="/uploadPage" class="nav__link">Document</a>
					</li>
					
					<li class="nav__item" th:text ="'Welcome '+ ${username}">
					</li>
					
					<li class="nav__item"><a href="/logout" class="nav__link">Logout</a>
					</li>
				</ul>

				<!-- Close button -->
				<div class="nav__close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<!-- Toggle button -->
			<div class="nav__toggle" id="nav-toggle">
				<i class="ri-menu-line"></i>
			</div>
		</nav>
	</header>

	<!--==================== MAIN ====================-->
	<main class="main">
		<!--==================== HOME ====================-->
		<section class="home section" id="home">
			<img src="img/home-bg.jpg" alt="home image" class="home__bg">
			<div class="home__shadow"></div>

			<div class="home__container container grid">
				<div class="home__data">
					<h3 class="home__subtitle">Welcome to PresentPal</h3>

					<h1 class="home__title">
						Make Speech <br> Easier
					</h1>

					<p class="home__description">Upload slides, generate your
						speech draft in a few minutes.</p>

					<a href="/uploadPage" class="button"> Get your Speech <i class="ri-arrow-right-line"></i>
					</a>
				</div>
			</div>
		</section>

		<!--==================== EXPLORE ====================-->
		<section class="explore section" id="explore">
		</section>

		<!--==================== JOIN ====================-->
		<section class="join section">
			<div class="join__container container grid">
				<div class="join__data">
					<h2 class="section__title">
						Make Speech <br> Easier
					</h2>

					<p class="join__description">Get up-to-date information about
						our project</p>

					<form action="" class="join__form">
						<input type="email" placeholder="Enter your email" class="join__input">

						<button class="join__button button">
							Subscribe Our Newsletter <i class="ri-arrow-right-line"></i>
						</button>
					</form>
				</div>

				<div class="join__image">
					<img src="img/join-island.jpg" alt="join image" class="join__img">
					<div class="join__shoadow"></div>
				</div>
			</div>
		</section>
	</main>

	<!--==================== FOOTER ====================-->
	<footer class="footer">
		<div class="footer__container container grid">
			<div class="footer__content grid">
				<div>
					<a href="#" class="footer__logo">PresentPal</a>

					<p class="footer__description">
						This project is being <br> continuously updated.
					</p>
				</div>

				<div class="footer__data grid">
					<div>
						<h3 class="footer__title">About</h3>

						<tl class="footer__links">
							<li><a href="#" class="footer__link">About Us</a></li>

							<li><a href="#" class="footer__link">Features</a></li>

							<li><a href="#" class="footer__link">News & Blog</a></li>
						</tl>
					</div>

					<div>
						<h3 class="footer__title">Company</h3>

						<tl class="footer__links">
							<li><a href="#" class="footer__link">FAQs</a></li>

							<li><a href="#" class="footer__link">History</a></li>

							<li><a href="#" class="footer__link">Testimonials</a></li>
						</tl>
					</div>

					<div>
						<h3 class="footer__title">Contact</h3>

						<tl class="footer__links">
							<li><a href="#" class="footer__link">Call Center</a></li>

							<li><a href="#" class="footer__link">Suppor Center</a></li>

							<li><a href="#" class="footer__link">Contact Us</a></li>
						</tl>
					</div>

					<div>
						<h3 class="footer__title">Support</h3>

						<tl class="footer__links">
							<li><a href="#" class="footer__link">Privacy Policy</a></li>

							<li><a href="#" class="footer__link">Terms & Services</a></li>

							<li><a href="#" class="footer__link">Payments</a></li>
						</tl>
					</div>
				</div>
			</div>

			<div class="footer__group">
				<div class="footer__social">
					<a href="https://www.facebook.com/" target="_blank" class="footer__social-link"> <i
							class="ri-facebook-line"></i>
					</a> <a href="https://www.instagram.com/" target="_blank" class="footer__social-link"> <i
							class="ri-instagram-line"></i>
					</a> <a href="https://twitter.com/" target="_blank" class="footer__social-link"> <i
							class="ri-twitter-line"></i>
					</a> <a href="https://www.youtube.com/" target="_blank" class="footer__social-link"> <i
							class="ri-youtube-line"></i>
					</a>
				</div>

				<span class="footer__copy"> &#169; Copyright PittAIGC. All
					right reserved </span>
			</div>
		</div>
	</footer>

	<!--========== SCROLL UP ==========-->
	<a href="#" class="scrollup" id="scroll-up"> <i class="ri-arrow-up-line"></i>
	</a>

	<!--=============== SCROLLREVEAL ===============-->
	<script src="/js/scrollreveal.min.js"></script>

	<!--=============== MAIN JS ===============-->
	<script src="/js/main.js"></script>
</body>

</html>